[profile.default]
src = "src" 
out = "out"
libs = ["lib"]
solc = "0.8.20"
evm_version = "shanghai"
optimizer = true
optimizer_runs = 100
remappings = [
  '@chainlink/contracts/=lib/chainlink-brownie-contracts/contracts/src/',
]

[rpc_endpoints]
sepolia = "${RPC_URL_SEPOLIA}"
base_sepolia = "${RPC_URL_BASE_SEPOLIA}"
base = "${RPC_URL_BASE}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY_SEPOLIA}", chain = 11155111 }
base_sepolia = { key = "${ETHERSCAN_API_KEY_BASE_SEPOLIA}", chain = 84532 }
base = { key = "${ETHERSCAN_API_KEY_BASE}", chain = 8453 }

[invariant]
runs = 1800
depth = 96
fail_on_revert = false
shrink_runs = 150
dictionary_weight = 55
include_storage = false
include_push_bytes = false

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
